{%- import 'rules/helpers/_helpers.html.j2' as helpers -%}

{% extends "rules/helpers/_sourced.html.j2" %}
{% block title %}Weapon - {{ page_model.name }}{% endblock %}
{% block content %}
	<h1>{{ page_model.name }}</h1>
	<div class="row">
	</div>
<div class="main-content">
<div class="row">
	{% if page_model.type %}
		{{ helpers.field(page_model.type, "Type")}}
	{% elif page_model.damage %}
		{{ helpers.field(page_model.damage, "Damage")}}
	{% endif %}
	{% if page_model.damage_type %}
		{{ helpers.field(page_model.damage_type, "Damage Type")}}
	{% endif %}
	{% if page_model.critical %}
		{{ helpers.field(page_model.critical, "Critical")}}
	{% endif %}
	{% if page_model.range_increment %}
		{{ helpers.field(page_model.range_increment, "Range Increment")}}
	{% endif %}
</div>

	{{ page_model.text | markdown }}

	{% if page_model.special %}
		<h3>Special</h3>
		{% for special in page_model.special %} 
			{{ special | markdown }}
		{% endfor %}
	{% endif %}

</div>
{% endblock %}

