{% import 'rules/helpers/_helpers.html.j2' as helpers %}

{% extends "_base.html.j2" %}

{% block content %}
	<h1>{{page_model.name}}</h1>

	<div class="row">
	{{ helpers.field(page_model.publisher, 'Publisher') }}
	{{ helpers.field(page_model.copyright_year, 'Copyright') }}
	</div>

	<div class="row">
	<h2>Authors</h2>
	{{ page_model.authors }}
	</div>

	<div class="row">
	<h2>Section 15</h2>
	{{ page_model.section_15 | markdown}}
	</div>


	<b># TODO:</b> In the future I hope to have this page include links to the things
	(Races, Classes, Archetypes, Items, etc.)
	included in this source book.
{% endblock %}
